<div class="dark white-text">
    <div class="half-circle"></div>
    <div class="profile-top-secton center-h">
        <i class="fas fa-2x fa-user-circle"></i>
    </div>

    <div class="row profile-detail vertical-align" style="padding-top: 25%;border-bottom: 1px solid #cccccc;">
        <div class="col-3 center-h"><i class="fas fa-1x fa-address-card"></i></div>
        <div class="col-8 profile-detail-value">{{$ctrl.profile_details.firstname}} {{$ctrl.profile_details.lastname}}</div>
    </div>
    <div class="row profile-detail vertical-align mv_bottom_border">
        <div class="col-3 center-h"><i class="far fa-1x fa-envelope"></i></div>
        <div class="col-8 profile-detail-value">{{$ctrl.profile_details.email1}}</div>
    </div>
    <div class="row profile-detail vertical-align mv_bottom_border">
        <div class="col-3 center-h"><i class="fas fa-1x fa-mobile-alt"></i></div>
        <div class="col-8 profile-detail-value">{{$ctrl.profile_details.phone1}}</div>
    </div>
    <div class="row profile-detail vertical-align mv_bottom_border">
        <div class="col-3 center-h"><i class="far fa-1x fa-building"></i></div>
        <div class="col-8 profile-detail-value">{{$ctrl.profile_details.accountname}}</div>
    </div>
</div>
